.header{
    width: 100%;
}

.contenedor{
    width: 100%;
}

@media all and (min-width: 576px) {
    .nav{
        display: none;
    }
    body{
        display: flex;
        flex-direction: column;
    }

    .contenedor{
        display: flex;
        flex-direction: row;
    }

}

@media all and (min-width: 992px) {


}